body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}   


/* Header */

header .line {
    background-color: #117050;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.headerLeft img {
    width: 64px;
    height: 64px;
}


.headerRight {
    display: flex;
    align-items: center;
}


.headerSearch form {
    display: flex;
}

.headerSearch input {
    font-size: 16px;
    padding: 10px 13px;
    border: 1px solid #999;
    outline: 0;
    width: 100%;
    max-width: 220px;
}

.headerSearch button {
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.headerSearch button img {
    width: 16px;
    height: 16px;
}

.headermenu {
    margin-left: 50px;
    
}

.headermenu img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

/* Header Fim */




/* Banner */

.banner {
    background-image: url(../images/bg.jpg);
    background-position:top;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

h1 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    line-height: 90px;
    margin: 0;
    margin-bottom: 30px;
}

.bannerImages {
    margin-top: 60px;

}

.bannerImages img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
    
}

/* Banner Fim */

/* Area 1 */

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1Content {
    padding: 80px;
}

.bar {
    width: 168px;
    height: 22px;
    background-color: #117050;
}

h2 {
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 20px 0;
    line-height: 45px;
    
}

.area1Quote {
    margin-bottom: 30px;
    
}

.area1Text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area1Img1 {
    height: 350px;
    background-image: url(../images/f2.jpg);
    background-size: cover ;
    background-position: center;
}

.area1Img2 {
    background-image: url(../images/f1.jpg);
    background-size: cover ;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.area1 .button {
    border: 2px solid #454545;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
   
}

.area1 .button a {
    text-decoration: none;
    color: inherit;
}

.area1 .button:hover {
    color: #FFF;
    background-color: #454545;
}

/* Area 1 Fim */





/* Area 2 */

.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2Content {
    padding: 80px;
}

.bar {
    width: 168px;
    height: 22px;
    background-color: #117050;
}


.area2Quote {
    margin-bottom: 30px;
    
}

.area2Text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area2Img1 {
    height: 453px;
    background-image: url(../images/f4.jpg);
    background-size: cover ;
    background-position: center;
}

.area2Img2 {
    background-image: url(../images/f3.jpg);
    background-size: cover ;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.area2 .button {
    border: 2px solid #454545;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
   
}

.area2 .button a {
    text-decoration: none;
    color: inherit;
}

.area2 .button:hover {
    color: #FFF;
    background-color: #454545;
}

/* Area 2 Fim */





/* Area 3 */

.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3Content {
    padding: 250px 80px;
    background-image: url(../images/bg2.jpg);
    background-position: left ;
    background-size: cover;
}

.area3Content {

}


.area3Text {
    margin-bottom: 50px;
    line-height: 25px;
}



.area3Img {
    background-image: url(../images/f5.jpg);
    background-size: cover ;
    background-position: top;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.area3.button {
    border: 2px solid #454545;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
   
}

.area3.button a {
    text-decoration: none;
    color: inherit;
}

.area3.button:hover {
    color: #FFF;
    background-color: #454545;
}

.area3Logo {
    position: absolute;
    background-image: url(../images/logo.png);
}

/* Area 3 Fim */






/* Area 4 */

.area4 {
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #e8e9ee;
}

.area4Content {
    padding: 200px 80px;
}

.area4Text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area4.button {
    border: 2px solid #454545;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
   
}


.area4.button a {
    text-decoration: none;
    color: inherit;
}

.area4.button:hover {
    color: #FFF;
    background-color: #454545;
}

.area4Img1 {
    background-image: url(../images/bg3.jpg);
    background-position: left;
}

/* Area 4 Fim */






/* Area 5 */

.area5 {
    background-image: url(../images/bg4.jpg);
    background-size: cover ;
    background-position: center;
    height: 600px;
}

/* Area 5 Fim */




/* Footer */


footer {
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
}

/* Footer Fim */






/* Responsividade */


@media (min-width:769px) and (max-width: 1140px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width:426px) and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .area1 {
        grid-template-columns: 3fr 2fr;
    }

    .area2 {
        grid-template-columns: 2fr 3fr;
    }

    .area3 {
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width: 425px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .headermenu {
        margin-left: 50px;
    }
    .headerSearch input {
        max-width: 80px;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .bannerImages img {
        width: 70px;
        height: 70px;
        border: 6px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1,
    .area2,
    .area3,
    .area4 {
        grid-template-columns: 1fr;
    }

    .area1Content,
    .area2Content,
    .area3Content,
    .area4Content {
        padding: 40px;
        justify-content: center;
        text-align: justify;
    }

    .area5 {
        height: 300px;
    }

    

    footer {
        font-size: 12px;
        padding: 40px 20px;
    }

    
}
